.cookie-popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
animation:delay 2s ease;
transition:all 1s;
}

@keyframes delay{
0%{
opacity:0;
transform:translateY(-100%);
}
100%{
opacity:1;
transform:translateX(0);
}
}

#dismiss-button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.no-select {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* Internet Explorer/Edge */
}


*{
-webkit-tap-highlight-color: rgba(0,0,0,0);
}

input,textarea,button,select,a{
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:focus,a:visited,a:active{
outline:none;
}

#installButton{
position:absolute;
top:24%;
right:3%;
background:white;
border:1px solid orange;
border-radius:10px;
color:orange;
padding:;
z-index:100;
font-size:17px;
animation:slide 4s ;
transition:all 1s;
   display: none;


}
#installButton img{
height:30px;
width:30px;
}
@keyframes slide{
0%{
opacity:0;
transform:translateY(-100%);
}
100%{
opacity:1;
transform:translateX(0);
}
}
#magni{
backgroundgreen;
position:absolute;
right:15%;
top:33%;
z-index:100;
}
#magni img{
width:30px;
height:30px;
border-radius:5px;
}
.whatsapp{
position:fixed;
bottom:5%;
right:5%;
width:45px;
height:45px;
z-index:1000;
border:1px solid orange;
background:white;
border-radius:5px;
}
.whatsapp img{
height:100%;
width:100%;
background:white;
border-radius:5px;
}

.spinner-search {
   position: absolute;
   width: 12.4px;
   height: 12.4px;
left:50%;
z-index:10000;
}

.spinner-search::before,
.spinner-search::after {
   content: '';
   width: 100%;
   height: 100%;
   display: block;
   animation: spinner-search-b4c8mmmd 0.5s backwards, spinner-search-49opz7md 1.25s 0.5s infinite ease;
   border: 5.6px solid #474bff;
   border-radius: 50%;
   box-shadow: 0 -33.6px 0 -5.6px #474bff;
   position: absolute;
}

.spinner-search::after {
   animation-delay: 0s, 1.25s;
}

@keyframes spinner-search-b4c8mmmd {
   from {
      box-shadow: 0 0 0 -5.6px #474bff;
   }
}

@keyframes spinner-search-49opz7md {
   to {
      transform: rotate(360deg);
   }
}




* {
  box-sizing: border-box;
}
#confirmPopup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
border-radius:20px;
            z-index: 999;
        opacity: 0; /* Initially hidden */
  animation: slideDown 0.5s ease-in-out forwards;
color:black;
}

@keyframes slideDown {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 80px; /* Change this value to adjust the final position */
    opacity: 1;
  }
}

        #confirmPopup button {
            margin-right: 10px;
           border:none;
border-radius:5px;
padding:10px 20px;
color:black;
background:white;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        }

#myInput {
  background-image: url('');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
border-radius:20px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

#clickedRow {
  margin-top: 12px;
  font-size: 16px;
}

#myTable {
  display: none; /* Initially hide the table */
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #fff;
  font-size: 18px;
box-shadow0px 0px 5px 5px rgba(0,0,0,0.4);
}
#myTable a{
font-size:16px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
  cursor: pointer;
background:white;
width:100px;
}

#myTable tr {
  border-bottom: 1px solid #fff;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #333;
}

#delayDiv {
  display: none;
  background-color #f0f0f0;
  padding: 10px;
  margin-bottom: 12px;

}
/*a{
background:green;
position:relative;
width:300px;
padding:10px 20px;;
font-size:16px;
}*/
#savedLinks a{
 margin-bottom: 20px;
font-size:25px;
padding:0 0 0 20px;
}
.se{
background:red;
position:sticky;
bottom:0;
padding:0 0 20px 20px;
box-shadow:  0 4px 8px rgba(0, 0, 0, 0.4);
width:600px;
border-radius:20px;
}
.se h1{
font-weight:bold;
font-size:35px;
color:white;
}
.se button{
border:none;
border-radius:20px;
padding:10px 20px;
border:1px solid orange;
color:black;
background:white;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}


body {
  font-family: 'Lato', sans-serif;
}

.overlay-search {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  background-color:white; rgb(0,0,0);
  background-color rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-search-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: left;
  margin-top: 10px;
}

.overlay-search a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  transition: 0.3s;
}

.overlay-search a:hover, .overlay-search a:focus {
  color: #333;
}

.overlay-search .closebtnsearch {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}









#screen2{
position:relative;
top:100px;
}
  .screen {
      display: none;
    }
#hiddenDiv {
      display: none;
      background-color:transparent; lightblue;
      padding: 20px;
      margin-top: 20px;
      transition: opacity 0.5s ease-in-out; /* Add a transition for opacity */

    }
.spinner-round {
   position: absolute;
   width: 18.7px;
   height: 18.7px;
backgroundgreen;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

.spinner-round div {
   width: 100%;
   height: 100%;
   background-color: red;
   border-radius: 50%;
   animation: spinner-round-4t3wzl 1.25s infinite backwards;
}

.spinner-round div:nth-child(1) {
   animation-delay: 0.15s;
   background-color: rgba(71,75,255,0.9);
}

.spinner-round div:nth-child(2) {
   animation-delay: 0.3s;
   background-color: rgba(71,75,255,0.8);
}

.spinner-round div:nth-child(3) {
   animation-delay: 0.45s;
   background-color: rgba(71,75,255,0.7);
}

.spinner-round div:nth-child(4) {
   animation-delay: 0.6s;
   background-color: rgba(71,75,255,0.6);
}

.spinner-round div:nth-child(5) {
   animation-delay: 0.75s;
   background-color: rgba(71,75,255,0.5);
}

@keyframes spinner-round-4t3wzl {
   0% {
      transform: rotate(0deg) translateY(-200%);
   }

   60%, 100% {
      transform: rotate(360deg) translateY(-200%);
   }
}

.container-center-rel{
position:relative;
width:100%;
height:150px;
backgroundred;
top100px;
}
.container-center{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
backgroundred;
width:80%;
}
  .element-with-gradient {
      width: 50px;;
      height: 120px;
      background: linear-gradient(to left, transparent, #fff); /* Linear gradient from transparent to white */
      border 1px solid #ccc;
      transition: background 0.5s ease; /* Adjust the transition duration as needed */
position:absolute;
top:0;
left:0;
    }
 .element-with-gradienttwo {
      width: 50px;;
      height: 120px;
      background: linear-gradient(to right, transparent, #fff); /* Linear gradient from transparent to white */
      border 1px solid #ccc;
      transition: background 0.5s ease; /* Adjust the transition duration as needed */
position:absolute;
top:0;
right:0;
    }
    #container {
      width: 100%;
height:120px;
      overflow: hidden;
      white-space: nowrap;
      border 1px solid black;
backgroundgreen;
position:relative;
 

    }

    .moving-div {
      width: 160px;
      height: 100px;
      background-color #3498db;
      display: inline-block;
      margin: 5px;
      position: relative;
      animation: moveDivs 25s linear infinite; /* Adjust the duration as needed */
    }

    @keyframes moveDivs {
      from { transform: translateY(0); }
      to { transform: translateX(-653%); }
    }
.moving-div img{
width:100%;
height:100%;
object-fit:cover;
}
.alert {
  opacity: 1;
  transition: opacity 0.6s; /* 600ms to fade out */
}
.alert {
  padding: 20px;
  background-color:tomato; #00A9FF; 
  color: white;
  margin-bottom: 15px;
position:relative;
z-index:2;
top:5px;
}
.alert a{
border-radius:20px;
border:1px solid orange;
color:white;
padding:0 10px;
}
/* The close button */
.closebtnn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
position:relative;
z-index:30;
}

/* When moving the mouse over the close button */
.closebtnn:hover {
  color: black;
}



.swiper {
      width: 100%;
      height: 50%;
    }
.swiper img{
height:100%;
width:100%;
}
.swiper-slide .swi{
position:absolute;
backgroundgreen;
left:10%;
width:500px;
z-index:10;
}
.swiper-slide .swi h1{
color:white;
font-weight:bold;
font-size:60px;
color:tomato;
}
.swiper-slide .swi p{
color:white;
}
.swiper-slide .swi button{
border:1px solid orange;
font-size:20px;
background:white;
color:black;
border-radius:20px;
padding:0 30px;
}
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
position:relative;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
                



                       /* callout-function */



                                                  /* word-container */


.word-container {
            position: relative;
            width: 150px;
            height: 30px;
            overflow: hidden;
backgroundgreen;
text-align:center;
BORDER-BOTTOM:1PX SOLID BLACK;
        }

        .word {
            position: absolute;
            top: 0;
            opacity: 0;
            animation: showWord 9s linear infinite;
font-size:20px;
font-weight:bold;
text-align:center;
COLOR:ORANGE;
        }

        .word:nth-child(1) {
            animation-delay: 0s;
        }

        .word:nth-child(2) {
            animation-delay: 3s;
        }

        .word:nth-child(3) {
            animation-delay: 6s;
        }

        @keyframes showWord {
            0%, 20% {
                top: 0;
                opacity: 0;
            }
            25%, 45% {
                top: 0;
                opacity: 1;
            }
            50%, 70% {
                top: -50px;
                opacity: 1;
            }
            75%, 95% {
                top: -50px;
                opacity: 0;
            }
            100% {
                top: 0;
                opacity: 0;
            }
        }




::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #888; 
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}


                                                 /* header scrollbar */



button:focus,
a:focus,
button:active,
a:active {
  outline: none;
  background-color: transparent;
}
#icon-nav{
position:relative;
top:3px;
color:black;
left:5px;
}
#icon-navv{
color:white;
position:relative;
top:2px;
font-size:20px;
}

.scroll-header{
opacity:0;
transition:all 1s;
filter:blur(8px);
transform:translateY(100%);
}

.scrolls{
opacity:1;
filter:blur(0);
transform:translateX(-0);
}  
.scroll-header{
color:black;
background:transparent;
font-size:80px;
text-align:center;
font-family: 'Nova Square', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Playfair Display', serif;
}
.hero-flex{
displaygrid;
gap:1rem;
}
#left{
position:absolute;
top:50%;
font-size:25px;
padding:0;
color:white;
border:none;
padding:10px 15px;
background:rgba(0,0,0.3);
border-radius:10px;
}
#right{
position:absolute;
right:0;
top:50%;
font-size:25px;
padding:0;
color:white;
border:none;
padding:10px 15px;
background:rgba(0,0,0.3);
border-radius:10px;
}
#left:hover,#right:hover{
background:white;
color:black;
transition:all 0.5s;
}


                                       /* hero text button and function */







.c-image-flex{
display:flex;
justify-content:center;
gap:2rem;
}
.container-image {
  position: relative;
border-radius:10px;
  font-family: Arial;
width:300px;
z-index:2;
}
.container-image img{
height:400px;
border-radius:10px;
}
.text-p {
position: absolute;
  top:68%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
z-index:2;
opacity:0;
transition:all 1.5s;
}
.scrollp{
opacity:1;
}
.text-block {
  position: absolute;
  top:48%;
left:50%;
transform:translate(-50%,-50%);
z-index:3;
}
.text-block h1{
font-size:50px;
color:orange; 
}
.text-p p{
font-size:15px;
font-weight:bold;
color:white;
  background-color rgba(0,0,0,0.6);
border-radius:20px;
padding:10px;
}
.con-a{
position:absolute;
top:90%;
left:50%;
transform:translate(-50%,-50%);
z-index:3;
color:white;
backdrop-filter:blur(3px);
font-weight:bold;
border:1px solid orange;
padding:2px 30px;
border-radius:10px;
}


.content a,.box-page a{
color:black;
background:white;
border:1px solid orange;
border-radius:10px;
cursor:pointer;
padding:0px 10px;
}
.second-page h1,.third-page h1{
font-size:40px;
background:#80B3FF;
}
a{
text-decoration:none;
color:black;
}
html{
scroll-behavior:smooth;
}
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
font-family: 'Playfair Display', serif;
font-family 'Permanent Marker';
height:auto;
width:100%;
background:white;;
}
                                       /* container-image */
.container-image{
opacity:0;
transition:all 1s;
filterblur(8px);
}

.showsimg{
opacity:1;
filterblur(0);
}  
 

                                       /* search content */


                                       /* section two content*/





                   /* fourth contet */

.display{
display:none;
}
.box-left{
opacity:0;
transition:all 0.6s;
filter:blur(8px);
transform:translateY(100%);
}

.showsbox{
opacity:1;
filter:blur(0);
transform:translateX(-0);
}  
.box-left{
display:flex;
justify-content:space-between;;
}
.circle{
background:white;
position:relative;
right:30px;
width:20px;
height:20px;
border-radius:50%;
border:4px solid orange;
display:none;
}
.line{
width:10px;
background:white;
border:1px solid orange;
height:1900px;
position:absolute;
left:3%;
border-radius:10px 10px 10px 10px;
box-shadow:0  5px 5px rgba(0,0,0,0.2);
}
.fourth-page{
display:grid;
gap:2rem;
place-items:center;
align-items:center;
}
.box-page{
background:white;
width:290px;
float:right;
padding:10px;
position:relative;
left:10px;
border-radius:20px;
box-shadow:0  5px 5px rgba(0,0,0,0.2);
z-index:4;
}


                                   /* thirdth page content */

.timeline {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}


.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color:white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
box-shadow:0  5px 5px rgba(0,0,0,0.2);
}


.containertwo {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 60%;
}


.containertwo::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -20px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;

}


.left {
  right: 10.5%;
}


.right {
  left: 50%;
}


.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 0px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}


.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}


.right::after {
  left: -16px;
}
.left content {
  left: 16px;
}


.content {
  padding:10px; 20px; 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
box-shadow:0  5px 5px rgba(0,0,0,0.2);
z-index:3;
width:450px;
}

.content{
opacity:0;
transition:all 1s;
filter:blur(8px);
transform:translateY(100%);
}

.showse{
opacity:1;
filter:blur(0);
transform:translateX(-0);
}  
.left{
opacity:0;
transition:all 1s;
filter:blur(8px);
transform:translateY(100%);
}

.showss{
opacity:1;
filter:blur(0);
transform:translateX(-0);
}                                      



                                           /*second page contents */
.row{
display:flex;
justify-content:center;
}
.column{
opacity:0;
transition:all 0.7s;
filterblur(6px);
transform:translateY(10%);
}

.showscol{
opacity:1;
filterblur(0);
transform:translateX(-0);
} 
.column a{
color:black;#00A9FF;
}
.column {
floatleft;
  width: 33%;
  margin-bottom: 16px;
  padding: 0 8px;
border-radius:10px;
}
.card {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
border-radius:10px;
}
.card img{
height:300px;
object-fit:cover;
border-radius:10px 10px 0 0;
}
.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color:black;
border:1px solid orange;
border-radius:10px;
text-align:center;
width:150px;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}


                                            /* hamburger -icon working */

span{
position:fixed;
z-index:100;
color:white;
top:3%;
right:1.5%;
display:none;
}
.overlay-line{
width:100%;
background:#333;
height:2px;
display:flex;
justify-content:center;
}
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  background:white;
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top 30px;
}

.overlay a {
  padding: 8px 10px;
  text-decoration: none;
  font-size: 40px;
font-weight:bold;
  color: black;
  display: block;
text-align:left;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: orange;
}

.overlay .closebtn {
  position: absolute;
  top: 4%;
  right: 3%;
  font-size: 60px;
color:black;
}
.overlay h1{
color:black;
font-weight:bold;
}
.overlay h2{
position:absolute;
color:black;
top:3%;
left:1%;
font-family: 'Pacifico';
}

                                           /* header content */


        header {
            background-color:#00A9FF ;
            color: white;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
position:fixed;
z-index:1000;
width:100%;
top:0;
        }

        .company-logo img {
            height: 180px;
width:200px; 
position:absolute;;
top:1%;
left:5%;
z-index:1;
border-radius:50%;
        }

        nav {
            display: flex;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin-right: 10px;
font-size:20px;
padding:5px 10px;
border-radius:0 10px 0 10px;
font-weight:bold;
transition:all ease 0.3s;
        }
nav a:hover{
color:white;
backgroundwhite;
transition:all ease 0.5s;
scale:1.1;
}
header h1{
font-family: 'Pacifico';
}
h1{
font-family: 'Nova Square', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Playfair Display', serif;
}


                                       /* section content */


section{
width:100%;
height:auto;
margin-top:100px;
position:relative;
}
.company-info{
position:absolute;
 background:#80B3FF; rgb(0, 0, 0); 
width:450px;
right:0;
top:2%;
color:white;
display:flex;
border-radius:10px 0 0 10px;
z-index:1;
}
.company-info h2{
position:relative;
left:10px;
}
 #typewriter-text {
      font-family: 'Courier New', monospace;
      font-size: 26px;
      white-space: nowrap;
      overflow: hidden;
      border-right: 1px solid #000;
      padding-right: 5px;
position:absolute;
left:53%;
top:8%;
 border-right: 2px solid transparent;
      animation: blink 1s infinite;
font-weight:bold;
    }
 @keyframes blink {
      0% {
        border-color: transparent;
      }
      50% {
        border-color: white;
      }
      100% {
        border-color: transparent;
      }
    }
.hidden{
opacity:0;
transition:all 1s;
filter:blur(8px);
transform:translateY(100%);
position:absolute;
background:transparent;
width:400px;
top:15%;
right:0;
z-index:1;
font-weight:bold;
color:white;
}

.shows{
opacity:1;
filter:blur(0);
transform:translateX(-0);
color:black;
}  
.hidden h3,.hiddentwo h3{
padding:0px 10px;
font-size:20px;
font-family: 'Playfair Display', serif;
}
.hiddentwo{
opacity:0;
transition:all 2s;
filter:blur(8px);
transform:translateY(100%);
position:relative;absolute;
background:transparent;
text-align:right;
width:400px;
top:300px;
right:0;
z-index:1;
font-weight:bold;
color:white;
}

.showstwo{
opacity:1;
filter:blur(0);
transform:translateX(-0);
color:black;
}
.section video{
width:750px;
height:750px;
z-index:0;
position:relative;
left:300px;
bottom:70px;
}

.second-page h1{
text-align:center;
font-weight:bold;
color:white;
}
.first-page{
background:TRANSPARENT;
height:700px;
}
.third-page{
width:100%;
z-index:3;
}
.third-page h1{
color:white;
text-align:center;
}
.fourth-page{
displaynone;
}

                                    /* media for mobile content and mobile view */



@media (max-width:768px){
header nav {
display:none;
}

.company-logo img {
display:none;
}

header h1 {
font-size:24px;
}

header {
justify-content:left;
gap:0;
padding:10px;
}

.company-info {
width:100%;
border-radius:0;
}

.company-info h2 {
font-size:20px;
position:relative;
left:10px;
}

#typewriter-text {
font-size:20px;
left:57%;
}

.hidden {
width:100%;
top:10%;
}

.hiddentwo {
padding:0px;
width:100%;
text-align:left;
top:250px;
}

.section video {
width:100%;
height:100%;
position:relative;
left:0;
top:230px;
}

 .overlay {
overflow-y: auto;
}

  .overlay a {
font-size: 20px
}

  .overlay .closebtn {
  font-size: 40px;
  top: 3%;
  right: 5%;
  }

span {
position:fixed;
display:block;
color:white;
}

.first-page {
height:600px;
width:100%;
}

.second-page {
 display: grid;
place-items:center;
align:items:center;
}

.second-page h1,.third-page h1{
font-size:30px;
}

.hidden h3,.hiddentwo h3 {
font-size:16px;
}
.row{
display:grid;
}
 .column {
    width: 95%;
    display: block;
justify-content:center;
padding:0;
margin-bottom: 36px;
margin-left:8px;
  }

.timeline {
display:none;
}

.display {
display:block;
}
.c-image-flex{
display:flex;
flex-direction:column;
justify-content:center;
place-items:center;
align-items:center;
}
.container-image {
width:90%;
z-index:2;
}
.text-block {
  top:47%;
}
.text-p{
width:70%;
}
.scroll-header{
font-size:50px;
}

.s{
position:absolute;
backgroundgreen;
width:200px;
}
.s h1{
color:white;
font-weight:bold;
font-size:40px;
color:tomato;
position:relative;
right:35px;
top:20px;
}
.s p{
color:white;
font-size:13px;
}
.s button{
border:1px solid orange;
font-size:13px;
background:none;white;
color:white;
border-radius:20px;
padding:0 30px;
position:relative;
bottom:35px;
}
#container {
      width: 100%;
  overflow: hidden;
backgroundgreen;
}
.moving-div {
      width: 100px;
      height: 70px;
  animation: moveDivs 25s linear infinite; /* Adjust the duration as needed */
}
@keyframes moveDivs {
      from { transform: translateY(0); }
      to { transform: translateX(-683%); }
    }
.container-center{
width:100%;
}
.overlay-search {overflow-y: auto;}
  .overlay-search a {font-size: 12px}
  .overlay-search .closebtnsearch {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
#savedLinks a{
 margin-bottom 10px;
font-size:18px;
backgroundred;
}
.se{
width:100%;

}
#confirmPopup {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
border-radius:20px;
            z-index: 999;
width:100%;
}
}
